name: Child workflow
on:
  workflow_call:
    inputs:
      envname:
        required: true
        type: string
      ghenv:
        required: true
        type: string
jobs:
  Print:
    environment: ${{ inputs.ghenv }}
    runs-on: ubuntu-latest
    steps:
      - name: Print
        run: |
          echo the child envname is ${{ inputs.envname }}
          echo child var is: ${{ vars.CHILDVAR }}.
